<footer>
  <div class="footer-links">
    &copy; <a href="{{ .Site.BaseURL }}"> {{ .Site.Params.author }}</a> &nbsp; {{ .Site.Params.yearStart }} - {{ now.Year }}
    &nbsp; <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}/"><i class="fa-brands fa-linkedin" style="font-size:24px"></i></a>
    &nbsp; <a href="https://github.com/{{ .Site.Params.github }}/"><i class="fa-brands fa-github" style="font-size:24px"></i></a>
    &nbsp; <a href="https://bsky.app/profile/{{ .Site.Params.bluesky }}/"><i class="fa-brands fa-bluesky" style="font-size:24px"></i></a>
  {{ partial "foot_custom.html" . }}
</div>
</footer>
</body>

</html>